@font-face {
  font-family: 'exo_light';
  src: url('./fonts/exo2.0-light.woff2') format('woff2'),
       url('./fonts/exo2.0-light.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'exo';
  src: url('./fonts/exo2.0-regular.woff2') format('woff2'),
       url('./fonts/exo2.0-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'exo_bold';
  src: url('./fonts/exo2.0-bold.woff2') format('woff2'),
       url('./fonts/exo2.0-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}