//colors
$aquamarine: #86deb7ff;
$purple: #2b193dff;
$rhythm: #7e7f9aff;
$lavender: #F1E4E8;
$smoky: #0f110cff;

$orange: #FF5154;
$emerald: #00CC66;
$violet: #443850;
$white: #FBFBFB;
$black: #03191E;

//fonts
$regular: 'exo';
$light: 'exo_light';
$bold: 'exo_bold';

// screen sizes
$screen_xs: 576px;
$screen_sm: 768px;
$screen_md: 992px;
$screen_lg: 1200px;
$screen_xl: 1720px;

// container widths
$container_xs: 400px;
$container_sm: 540px;
$container_md: 768px;
$container_lg: 960px;
$container_xl: 1140px;
$container_max: 1640px;